[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diffusers = "*"
transformers = "*"
huggingface-hub = "*"
torchvision = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "*"
