[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
diffusers = "*"
transformers = ">=4.25.1"
huggingface-hub = "*"
torchvision = "*"
accelerate = ">=0.16.0"
ftfy = "*"
datasets = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "*"
